train-V
.ipynb_checkpoints
__pycache__/
*.pyc
testmee
train-V
test.ipynb
tests/*
*.pt
*.pth
*.h5
*.pkl
*.npy
*.npz
*.png
!flat_model_results_for_20_epochs.png
!hier_model_results_for_20_epochs.png
!flat_modelpeformance_for_20_epochs.png
!hierarchical_model_performance_for_20_epochs.png
!flat_model_results.png
!hier_model_results.png
*.jpg
*.jpeg
*.gif
*.bmp
*.zip
*.tar
*.gz
*.csv